#header {
  background-color: rgb(68, 68, 68);
  background-image: url('../assets/images/IMG_1652.jpg');
  background-blend-mode: lighten;
  background-size: cover;
  height: 100vh;
  padding: 1px;
}
h1 {
  max-width: 175px;
  padding: 10px;
  border: 2.5px solid white;
  color: white;
  text-align: left;
}
h3 {
  max-width: 175px;
  padding: 10px;
  border: 2.5px solid white;
  color: white;
  text-align: left;
}
#about {
  text-align: center;
  margin: 0px auto;
  color: black;
  padding: 5px;
  border: 1px solid black;
  background: white;
  max-width: 800px;
  position: absolute;
  bottom: 0;
  right: 1%;
  left: 1%;
}
#contacts {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}
#new {
  grid-column: span 4;
}
#content {
  grid-column: span 4;
}
.btn {
  position: relative;
  display: inline-block;
  margin: 30px auto;
  padding: 0.5%;

  overflow: hidden;

  border-width: 0;
  outline: none;
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);

  background-color: rgb(68, 68, 68);
  color: white;

  transition: background-color 0.3s;
}

.btn:hover,
.btn:focus {
  background-color: rgb(148, 148, 148);
}

.btn > * {
  position: relative;
}

.btn span {
  display: block;
  padding: 12px 24px;
}

.btn:before {
  content: '';

  position: absolute;
  top: 50%;
  left: 50%;

  display: block;
  width: 0;
  padding-top: 0;

  border-radius: 100%;

  background-color: rgba(236, 240, 241, 0.3);

  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.btn:active:before {
  width: 120%;
  padding-top: 120%;

  transition: width 0.2s ease-out, padding-top 0.2s ease-out;
}
