#header {
  background-color: rgb(68, 68, 68);
  background-image: url('../assets/images/IMG_1652.jpg');
  background-blend-mode: lighten;
  background-size: cover;
  height: 100vh;
  padding: 1px;
}
h1 {
  max-width: 175px;
  padding: 10px;
  border: 2.5px solid white;
  color: white;
  text-align: left;
}
h3 {
  max-width: 175px;
  padding: 10px;
  border: 2.5px solid white;
  color: white;
  text-align: left;
}
#about {
  text-align: center;
  margin: 0px auto;
  color: black;
  padding: 5px;
  border: 1px solid black;
  background: white;
  max-width: 800px;
  position: absolute;
  bottom: 0;
  right: 1%;
  left: 1%;
}
#skills {
  color: whitesmoke;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
#contacts {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}
#new {
  grid-column: span 4;
}
#form {
  grid-column: span 4;
}
#content {
  grid-column: span 4;
}
